ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: transparent; */
    background: linear-gradient(90deg, rgba(91,33,130,1) 0%, rgba(253,29,29,1) 50%, rgba(238,165,61,1) 100%);
    backdrop-filter: blur(5px);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background:rgba(18, 24, 46) 50%;
    backdrop-filter: blur(5px);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
         
li a:hover {
    background-color: rgba(71, 45, 102);
    transition: all 0.5s;
}




body{
    background-image: url("Sehamimages/img1.jpg");
    background-size:cover;
    background-repeat:fixed;
     margin: 0;
    padding: 0;
}

p{
    color: white;
    font-size:15pt; 
    }
    
   